#main { 
    background-color: lightgrey;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 0 0 15px 0;
    line-height: 1.5;
}

#title {
    padding: 40px 0 0 0;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

#img-div {
    background-color: white;
    margin: 0 15px 15px 15px;
    padding: 10px;
}

ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}

li {
    padding: 5px;
}

blockquote {
    max-width: 545px;
    margin: 0 auto 50px auto;
    text-align: left;
}

u {
    color: blue;
    cursor: pointer;
}